services:
  php:
    build:
      dockerfile: Dockerfile
      context: .
    restart: always
    volumes:
      - ./src:/var/www

  web:
    image: nginx:stable
    restart: always
    links:
      - php
    ports:
      - 8000:80
    volumes:
      - ./src:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/ngnix.conf
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
